#admin_version div:nth-of-type(1) {width: 900px; margin: 0 auto; padding: 3px;}
#admin_version div:nth-of-type(2) {width: 900px; margin: 0 auto; padding: 3px;}
#admin_version div:nth-of-type(2) p {width: 138px; padding: 3px; background: linear-gradient(to top, #ffe0e0 50%, transparent 50%);}
.admin_version_table {width: 900px; margin: 3px auto 40px; padding: 3px; margin-bottom: 80px; margin-top: 5px}

#admin_site div {width: 900px; margin: 3px auto;  padding: 3px;}
.admin_site_table {width: 900px; margin: 0 auto; padding: 3px; margin-top: 5px}
#admin_site div:nth-of-type(3) {margin-bottom: 40px; padding: 3px;}

#admin_logo div {width: 900px; margin: 3px auto;  padding: 3px;}
.admin_logo_table {width: 900px; margin: 0 auto;  padding: 3px; margin-top: 5px}
#admin_logo div:nth-of-type(3) {margin-bottom: 40px; padding: 3px;}

#admin_company_info div {width: 900px; margin: 3px auto;  padding: 3px;}
.admin_company_info_table {width: 900px; margin: 0 auto;  padding: 3px; margin-top: 5px}
#admin_company_info div:nth-of-type(3) {margin-bottom: 40px; padding: 3px;}

#admin_cs_info div {width: 900px; margin: 3px auto;  padding: 3px;}
.admin_cs_info_table {width: 900px; margin: 0 auto;  padding: 3px; margin-top: 5px}
#admin_cs_info div:nth-of-type(3) {margin-bottom: 40px; padding: 3px;}

#copy_light div {width: 900px; margin: 3px auto;  padding: 3px;}
.copy_light_table {width: 900px; margin: 0 auto; padding: 3px; margin-top: 5px}
#copy_light div:nth-of-type(3)  {margin-bottom: 60px; padding: 3px;}

input[type="text"] {width: 450px;     border-radius: 4px; /* 모서리 둥글게 하기 */
    border: 0.3px solid #424242; /* 경계선 색상 */ padding: 3px;}


.admin_version_table,
.admin_site_table,
.admin_logo_table,
.admin_company_info_table,
.admin_cs_info_table,
.copy_light_table {
    table-layout: fixed; 
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden; /* 모서리 둥글게 하기 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* 그림자 효과 */


}

.admin_version_table td,
.admin_site_table td,
.admin_logo_table td,
.admin_company_info_table td,
.admin_cs_info_table td,
.copy_light_table td {
/* 셀 경계 색상 및 두께 설정 */
padding: 8px; /* 셀 안쪽 여백 설정 */
text-align: left; /* 텍스트 왼쪽 정렬 */

}
.admin_version_table tr,
.admin_site_table tr,
.admin_logo_table tr,
.admin_company_info_table tr,
.admin_cs_info_table tr,
.copy_light_table tr{
/* 셀 경계 색상 및 두께 설정 */
padding: 8px; /* 셀 안쪽 여백 설정 */
text-align: left; /* 텍스트 왼쪽 정렬 */
}
.admin_site_table td,
.admin_logo_table td,
.admin_company_info_table td,
.admin_cs_info_table td {border-bottom: 1px solid rgba(172, 172, 172, 0.5);

;}


#admin_version > div:nth-of-type(2),
#admin_site > div,
#admin_logo > div,
#admin_company_info > div,
#admin_cs_info > div,
#copy_light > div { border-radius: 8px;
            overflow: hidden; /* 모서리 둥글게 하기 */}


.basic_modi {text-align: right;}
.basic_modi button {margin-top: 5px; width: 60px; height: 35px; background-color: #81a6d3; border: none; color: white; border-radius: 6px;}

.admin_version_table td:nth-of-type(1),
.admin_site_table td:nth-of-type(1),
.admin_logo_table td:nth-of-type(1),
.admin_company_info_table td:nth-of-type(1),
.admin_cs_info_table td:nth-of-type(1),
.copy_light_table td:nth-of-type(1)  { background-color: rgb(226,232,238);}


.admin_version_table td:nth-of-type(2),
.admin_site_table td:nth-of-type(2),
.admin_logo_table td:nth-of-type(2),
.admin_company_info_table td:nth-of-type(2),
.admin_cs_info_table td:nth-of-type(2),
.copy_light_table td:nth-of-type(2)  { background-color: #fbfdff;}


.top1 {font-weight: bold; font-size: 14px;}
.top2 {width: auto; padding: 3px; background: linear-gradient(to top, #cdd8e6 50%, transparent 50%);}